# YAML Aliases / Anchors.
x-networkName: &networkName "default"

x-default: &default
  dns:
    - 1.1.1.1
    - 1.0.0.1

x-dbenv:
  - &dbUser admin
  - &dbPass secret
  - &dbDatabaseName guacamole

networks:
  *networkName:

services:

  guacd:
    <<: *default
    healthcheck:
      test: ["CMD-SHELL", "nc -z 127.0.0.1 4822 || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 1m
    image: guacamole/guacd:${GUACAMOLE_VERSION}
    networks:
      *networkName:
    ports:
      - 4822
    restart: on-failure
    volumes:
      - guac-drive:/drive:rw
      - guac-record:/record:rw

  db:
    <<: *default
    depends_on:
      db-init:
        condition: service_completed_successfully
    environment:
      MYSQL_ROOT_PASSWORD: *dbPass
      MYSQL_USER: *dbUser
      MYSQL_PASSWORD: *dbPass
      MYSQL_DATABASE: *dbDatabaseName
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 1m
    image: mysql:${MYSQL_VERSION}
    networks:
      *networkName:
    ports:
      - 3306
    restart: on-failure
    volumes:
      - db-init:/docker-entrypoint-initdb.d:ro
      - db-data:/var/lib/mysql

  db-init:
    command: ["/bin/sh", "-c", "test -e /init/initdb.sql && echo 'init file already exists' || /opt/guacamole/bin/initdb.sh --mysql > /init/initdb.sql" ]
    image: guacamole/guacamole:${GUACAMOLE_VERSION}
    user: root
    volumes:
      - db-init:/init

  guacamole:
    <<: *default
    depends_on:
      db:
        condition: service_healthy
      guacd:
        condition: service_healthy
    environment:
      JAVA_OPTS: -Xms1024m -Xmx2048m -XX:MetaspaceSize=96M -XX:MaxMetaspaceSize=256m -XX:+CrashOnOutOfMemoryError
      GUACD_HOSTNAME: guacd
      MYSQL_DATABASE: *dbDatabaseName
      MYSQL_HOSTNAME: db
      MYSQL_PASSWORD: *dbPass
      MYSQL_USER: *dbUser
      # Set the log level for guacamole
      LOGBACK_LEVEL: DEBUG
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/guacamole || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 1m
    image: guacamole/guacamole:${GUACAMOLE_VERSION}
    networks:
      *networkName:
    ports:
      - 8080
    restart: on-failure

  nginx:
    <<: *default
    depends_on:
      guacamole:
        condition: service_healthy
    environment:
      - NGINX_HOST=${NGINX_HOST}
      - NGINX_HTTP_PORT=${NGINX_HTTP_PORT}
      - UPSTREAM_HOST=guacamole
      - UPSTREAM_PORT=8080
    healthcheck:
      test: ["CMD-SHELL", "service nginx status || exit 1"]
      interval: 30s
      timeout: 30s
      retries: 3
      start_period: 1m
    image: nginx:${NGINX_VERSION}
    networks:
      *networkName:
    ports:
      - 8080:${NGINX_HTTP_PORT}
    restart: on-failure
    volumes:
      - ./upstream.conf.template:/etc/nginx/templates/default.conf.template

  # SSH Connection
  openssh:
    <<: *default
    environment:
      PGID: 1000
      PUID: 1000
      PASSWORD_ACCESS: 'true'
      SUDO_ACCESS: 'true'
      TZ: Asia/Kolkata
      USER_NAME: admin
      USER_PASSWORD: admin
    image: linuxserver/openssh-server:latest
    networks:
     *networkName:
    ports:
      - 2222
    restart: on-failure
    profiles:
      - devices

  # RDP Connection.
  # The Default USERNAME and PASSWORD is: abc/abc
  rdesktop:
    <<: *default
    environment:
      PUID: 1000
      PGID: 1000
      TZ: Asia/Kolkata
    image: arulrajnet/rdesktop:ubuntu-xfce
    build:
      context: ./rdesktop
    networks:
     *networkName:
    ports:
      - 3389
    restart: on-failure
    profiles:
      - devices

  guacamole-init:
    <<: *default
    depends_on:
      guacamole:
        condition: service_healthy
    entrypoint: /bin/sh -c "apk add --no-cache jq && /guacamole-connection-init.sh"
    environment:
      GUACAMOLE_HOST: guacamole
      GUACAMOLE_PORT: 8080
    image: curlimages/curl:7.78.0
    restart: on-failure
    profiles:
      - devices
    user: root
    volumes:
      - ./guacamole-connection-init.sh:/guacamole-connection-init.sh

volumes:
  guac-drive:
  guac-record:
  db-data:
  db-init:
